/* 
    Created on : 23-feb-2020, 12.24.39
    Author     : devis
*/

/*
    CSS rules for menu
*/

div#menu {
    width: 100%;
    float: left;
    background: #f3f3f3;
    margin-bottom: 15px;
}

div#menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div#menu li
{
    float:left;
    padding: 10px;
    border-right: 1px solid lightgrey;
    color:black;
}

div#menu a
{
    display: block;
    padding: 5px;
    color: #000;
    text-decoration: none;
}

div#menu a:hover
{
    background-color: darkgrey;
}

div#menu li ul
{
    display: none;
    padding: 10px;
}

div#menu li:hover ul
{
    display: block;
    position: absolute;
    z-index:1;
    width:160px;
    border:1px solid black;
    background: white;
}

div#menu li li { 
    border:none; width:150px; 
}

li a.active {
    background-color: lightgrey;
}

/*
    CSS rules for background layout (the same for all pages)
*/

body
{
    font-family:sans-serif;
    font-size: 90%;
    max-width: 75%;
    margin-left: 12.5%;
}

div.imgBiblio {
    float: 						 right;
    margin: 		 			 2em;
}

div.citazione {
    float: 						 left;
    width:                       65%;
    text-align:                  justify;
}

div.citazione > blockquote > p {
    font-style: 			     italic;
}

h1
{
    border-bottom: 2px solid #357ebd;
}

/*
    CSS rules for tables (books and authors list pages)
*/

table
{
    border-collapse:collapse;
    width:100%;
    margin-bottom:1em;
    background-color:transparent;
}

table td
{
    padding:1.5em;
    vertical-align:top;
    border-top:1px solid #dee2e6;
}

/*
    CSS rules for buttons
*/

.bottone
{
    color: rgb(68,68,68);
    text-decoration: none;
    padding: .7em 1.5em;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.5em;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #cecece);
}

.bottone:hover
{
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: .2em .2em 0.2em rgba(0,0,0,.1);
}

.bottone-delete
{
    color: #fff;
    background: rgb(212,75,56);
}

.bottone-delete:hover
{
    color: #fff;
    background: rgb(232,95,76);
    border: none;
}

@keyframes pulsate {
    50% { /* le proprietà saranno applicate a partire da metà applicazione */
        color: #fff; /* colore del testo in bianco */
        text-shadow: 
            0 -1px rgba(0,0,0,.3),  /* ombra sottile nera sopra il testo */
            0 0 5px #ffd,           /* bagliore diffuso color giallo */
            0 0 8px #fff;           /* bagliore bianco più ampio */
    }
}

.bottone-add
{
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    border: none;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: 
        0 -1px 1px #72de26 inset,   /* ombra interna (inset) verde chiaro 
                                         spostata verso l'alto (-1px) 
                                         e con sfocatura minima (1px) */
        0 1px 1px #98ff98 inset,    /* ombra interna verde ancora più chiaro
                                         spostata 1px verso il basso e con 
                                         sfocatura minima; effetto combinato
                                         di illuminazione dall'alto */
        0 0 0 1px #3caa3c,          /* ombra verde scura di 1px con 
                                         nessun offset o sfocatura, con bordo
                                         netto; effetto aggiunge un bordo netto
                                         intorno all'elemento */
        0 2px 5px rgba(0,0,0,.3);   /* ombra esterna nera semi-trasparente 
                                         spostata di 2px verso il basso,
                                         con sfocatura più ampia (5px); effetto
                                         crea un'ombra morbida sotto l'elemento,
                                         dandogli un effetto sollevato */
    /* animation: pulsate 1.2s linear infinite; */
    animation-name: pulsate;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bottone-add:hover
{
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    border: none;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow:                         /* vedi sopra */
        0 -1px 1px #72de26 inset, 
        0 1px 1px #98ff98 inset, 
        0 0 0 1px #3caa3c, 
        0 2px 5px rgba(0,0,0,.3);
    animation-play-state: paused;
}

p.insertItem
{
    text-align: right;
}

/*
    CSS rules for forms (edit/create pages)
*/

.form-group
{
    margin-top:2em;
    margin-bottom: 2em;
}

input.form-control
{
    display:block;
    width:98%;
    height:1.5em;
    padding:.375em;
    font-size:.9em;
    color:#495057;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2);
    border-radius:.5em;
}

select
{
    display:block;
    width:99%;
    height:2.5em;
    padding:.375em;
    font-size:.9em;
    color:#495057;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2);
    border-radius:.5em;
}

label
{
    display:block;
    margin-bottom:0.5em;
}

.submit
{
    height: 3em;
}

p.confirm
{
    margin-top: 2.5em;
    margin-bottom: 2em;
    text-align: center;
}